body {
    background-color: darkgray;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .nav_container {
    width: 90%;
    max-width: 1200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: darkgrey;
  }
  .nav {
    background-color: darkgrey;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Logo {
    background-color: darkgrey;
    width: 200px;
  }
  span{
    color: white;
    text-transform: capitalize;
    font-weight: 900;
    letter-spacing: 3px;
  }
  .routes {
    background-color: darkgrey;
    flex: 1;
  }
  ul{
    list-style: none;
  }
  nav ul{
    display: flex;
  }
  nav ul li a{
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 35px;
    line-height: 32px;
    margin: 3px;
    padding: 0px 12px;
    display: flex;
    font-size: 0.7rem;
    text-transform: lowercase;
    font-weight: 500;
    color: #fff;
    letter-spacing: 1px;
  }
  a{
    text-decoration: dotted;
  }
  .socialicons {
    background-color: darkgrey;
    width: 200px;
  }
 
  
  .home_container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: calc(100vh - 80px);
    background: darkgrey;
    position: relative;
  }
  .home_section {
    background-color: darkgrey;
  }
  .circle_wrapper {
    
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
  }
  .circle {
    background-color: #545454;
    width: 35%;
    padding-bottom: 35%;
    border-radius: 50%;
  }
  .info_wrapper {
    
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .info {
    width: 40%;
    min-height: 40%;
    color: #fff;
  }
  div p{
    line-height: 25px;
  }
  .h2name{
    font-family: 'Open Sans', sans-serif;
    color: #fff000;
    font-weight: bold;
    font-size: 70px;
    position: relative;
    letter-spacing: 6px;
  }
  h1{
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
  }
  
  .image_wrapper {
   
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  /* imgdiv */
  .image {
    width: 35%;
    height: 88%;
  }
  div .image img{
    height: 500px;
    width: 380px;
  }
  .services_wrapper {
    
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .services {
    background-color: darkgrey;
    width: 25%;
    min-height: 50%;
    color: #fff;
    line-height: 25px;
  }
  div .service-logos a{
    padding: 0px 5px;
  }
  div h4{
    color: #fff000;
  }
  /* jsjhsdkdhjkds */
  
  .parent {
    position: relative;
    margin-left: 10%;
    width: 90%;
    max-width: 1200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #545454;
    height: 80px;
    padding: 10px 10px;
    margin-bottom: -50px;
  }
  .parent div{
    background-color: black;
    border: 1px dotted black;
  }
  .parent div a{
    color: white;
    font-weight: bold;
    padding: 12px 12px;
  }
  .bottom{
    background-color: #2a2a2a;
    height: 850px;
    width: 100%;
    display: flex;
  }
  .main-div{
    background-color: darkgrey;
    width: 90%;
    height: 850px;
    margin-left: 5%;
    display: flex;
  }
  
  div .div1 .p1{
    display: inline-block;
    text-transform: capitalize;
    color: #fff;
    padding: 15px;
    margin: 12px;
  }
  div .div1 .p2{
    display: inline-block;
    text-transform: capitalize;
    color: #fff;
    padding: 15px;
    margin: 12px;
  }
  
  div .div1 h1{
    color: #fff000;
    margin: 12px;
  }
  div .div1 p{
    color: #fff;
    margin: 18px;
    line-height: 25px;
    letter-spacing: 1px;
  }
  .experience_section {
    background-color: #2a2a2a;
    width: 100%;
    padding: 150px 0;
  }
  
  .experience_container {
    background-color: black;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
  }
  
  .experience_left_side {
    background-color: black;
    flex: 1;
  }
  
  .experience_right {
    background-color: black;
    flex: 1;
  }
  
  .project_wrapper {
    background-color: black;
    justify-content: space-between;
    display: flex;
    align-items: center;
  }
  
  .project_image {
    background-color: #2a2a2a;
    width: 180px;
    height: 90px;
  }
  .project_image img{
    width: 180px;
    height: 90px;
  }
  
  .project_info_wrapper {
    background-color: black;
    flex: 1;
    padding: 0 20px;
  }
  
  .project_info_title {
    color: #fff;
    background-color: #2a2a2a;
    font-size: 25px;
  }
  
 
  
  .project_seprator {
    background-color: white;
    width: 100%;
    height: 1px;
    margin: 5px 0;
  }
  
  .project_button_wrapper {
    background-color: #2a2a2a;
  }
  
  .project_button {
    background-color: #2a2a2a;
  }
  .bot-wrapper{
    display: flex;
    width: 80%;
    margin-left: 10%;
    background-color: darkgrey;
    margin-top: -120px;
  
  }
  
  .ui-ux{
   height: 350px;
   width: 480px;
   background-color: darkgrey;
  }
  .web{
    height: 350px;
    width: 480px;
    background-color: darkgrey;
  }
  .mobile{
    height: 350px;
    width: 480px;
    background-color: darkgrey;
  }
  div .ui-ux-inner img{
    height: 70px;
    width: 65px;
    padding: 10px;
  }
  div .h1-color{
    color: aliceblue;
  }
  div .p-color{
    color: #fff;
  }
  
  
  
  
