body {
    background-color: #3f3f3f;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
  }
  
  .nav_container {
    width: 90%;
    max-width: 1200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #3f3f3f;
  }
  .nav {
    background-color: grey;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Logo {
    background-color: #3f3f3f;
    width: 200px;
  }
  span{
    color: #fff000;
    text-transform: capitalize;
    font-weight: 900;
    letter-spacing: 3px;
  }
  .routes {
    background-color: #3f3f3f;
    flex: 1;
  }
  ul{
    list-style: none;
  }
  nav ul{
    display: flex;
  }
  nav ul li a{
   font-family: 'Open Sans', sans-serif;
    height: 40px;
    line-height: 42px;
    margin: 3px;
    padding: 0px 16px;
    display: flex;
    font-size: 0.7rem;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
    letter-spacing: 1px;
    transition: 0.6 ease;
  }
  a{
    text-decoration: none;
  }
  .socialicons {
    background-color: #3f3f3f;
    width: 200px;
  }
  div .socialicons a{
    padding: 0px 10px;
  }
  
  .home_container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: calc(100vh - 80px);
    background: #3f3f3f;
    position: relative;
  }
  .home_section {
    background-color: #3f3f3f;
  }
  .circle_wrapper {
    /* background-color: blue; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
  }
  .circle {
    background-color: #2a2a2a;
    width: 40%;
    padding-bottom: 40%;
    border-radius: 50%;
  }
  .info_wrapper {
    /* background-color: green; */
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .info {
    width: 40%;
    min-height: 40%;
    color: #fff;
  }
  div p{
    line-height: 25px;
  }
  .h2name{
    font-family: 'Open Sans', sans-serif;
    color: #fff000;
    font-weight: bold;
    font-size: 70px;
    position: relative;
    letter-spacing: 6px;
  }
  h1{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
  }
  
  .image_wrapper {
    /* background-color: brown; */
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  .image {
    width: 35%;
    height: 88%;
  }
  div .image img{
    height: 600px;
    width: 420px;
  }
  .services_wrapper {
    /* background-color: teal; */
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .services {
    background-color: #3f3f3f;
    width: 25%;
    min-height: 50%;
    color: #fff;
    line-height: 25px;
  }
  div .service-logos a{
    padding: 0px 5px;
  }
  div h4{
    color: #fff000;
  }
  .line{
    height: 5px;
    width: 170px;
    background-color: #fff000;
  }
  .parent {
    position: relative;
    margin-left: 10%;
    width: 90%;
    max-width: 1200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #545454;
    height: 80px;
    padding: 10px 10px;
    margin-bottom: -50px;
  }
  .parent div{
    background-color: #3f3f3f;
    border: 6px solid #3f3f3f;
  }
  .parent div a{
    color: white;
    font-weight: bold;
    padding: 12px 12px;
  }
  .bottom{
    background-color: #2a2a2a;
    height: 850px;
    width: 100%;
    display: flex;
  }
  .main-div{
    background-color: #2a2a2a;
    width: 90%;
    height: 850px;
    margin-left: 5%;
    display: flex;
  }
  
  div .div1 .p1{
    display: inline-block;
    text-transform: capitalize;
    color: #fff;
    padding: 15px;
    margin: 12px;
  }
  div .div1 .p2{
    display: inline-block;
    text-transform: capitalize;
    color: #fff;
    padding: 15px;
    margin: 12px;
  }
  .p1 > .para-inner{
    color: #fff000;
    font-weight: 900;
    font-size: 30px;
  }
  
  .p2 > .para-inner{
    color: #fff000;
    font-weight: 900;
    font-size: 30px;
    font-weight: 900;
  }
  div .div1 h1{
    color: #fff000;
    margin: 12px;
  }
  div .div1 p{
    color: #fff;
    margin: 18px;
    line-height: 25px;
    letter-spacing: 1px;
  }
  .experience_section {
    background-color: #2a2a2a;
    width: 100%;
    padding: 150px 0;
  }
  
  .experience_container {
    background-color: #2a2a2a;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
  }
  
  .experience_left_side {
    background-color: #2a2a2a;
    flex: 1;
  }
  
  .experience_right_side {
    background-color: #2a2a2a;
    flex: 1;
  }
  
  .project_wrapper {
    background-color: #2a2a2a;
    justify-content: space-between;
    display: flex;
    align-items: center;
  }
  
  .project_image {
    background-color: #2a2a2a;
    width: 180px;
    height: 90px;
  }
  .project_image img{
    width: 180px;
    height: 90px;
  }
  
  .project_info_wrapper {
    background-color: #2a2a2a;
    flex: 1;
    padding: 0 20px;
  }
  
  .project_info_title {
    color: #fff;
    background-color: #2a2a2a;
    font-size: 25px;
  }
  
  .project_info_subtitle {
    color: aliceblue;
    background-color: #2a2a2a;
    font-size: 11px;
    margin: -8px;
    margin-left: 5px;
  }
  
  .project_seprator {
    background-color: white;
    width: 100%;
    height: 1px;
    margin: 5px 0;
  }
  
  .project_button_wrapper {
    background-color: #2a2a2a;
  }
  
  .project_button {
    background-color: #2a2a2a;
  }
  .bot-wrapper{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin-left: 10%;
    background-color: #3f3f3f;
    margin-top: -120px;
  
  }
  .ui-ux-inner{
    background-color: #2a2a2a;
    width: 70px;
    height: 68px;
    border-radius: 50%;
  }
  .ui-ux{
   height: 250px;
   width: 380px;
   background-color: #545454;
  }
  .web{
    height: 250px;
    width: 380px;
    background-color: #545454;
  }
  .mobile{
    height: 250px;
    width: 380px;
    background-color: #545454;
  }
  div .ui-ux-inner img{
    height: 50px;
    width: 55px;
    padding: 10px;
  }
  div .h1-color{
    color: #fff000;
  }
  div .p-color{
    color: #fff;
  }
  .inner-padding{
    padding: 10px;
  }
  
  
  